<!doctype html>
<html>

<head>
    <title>LAB01 - Promises</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/cowboy/jquery-tiny-pubsub/master/dist/ba-tiny-pubsub.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.4.0/lodash.min.js"></script>
    <script type="text/javascript" src="promises.js"></script>
</head>

<body>
    <form id="flickrSearch">

        <input type="text" name="tag" id="query" />

        <input type="submit" name="submit" value="submit" />

    </form>


    <div id="lastQuery"></div>

    <ol id="searchResults"></ol>


    <script id="resultTemplate" type="text/html">
        <% _.each(items, function( item ){ %>
            <li><img src="<%= item.media.m %>" />
            </li>
            <% });%>
    </script>
</body>

</html>