<!DOCTYPE html>
<html ng-app='pizzaStore'>

<head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="pizza.css" />
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body ng-controller='StoreController as store'>
    <!--  Products Container  -->
    <div class="list-group">
        <!--  Product Container  -->
        <div ng-repeat='product in store.products' class="list-group-item">
            <h3>
                {{product.name}} ({{product.weight}} g)
                <em class="pull-right">{{product.price | currency}}</em>
            </h3>
            <!-- Image Gallery  -->
            <div class="gallery" ng-show='product.images.length'>
                <img class="img img-circle img-thumbnail center-block" ng-src='{{product.images[0]}}' />
                <ul class='clearfix'>
                    <li ng-repeat='image in product.images' class='small-image pull-left thumbnail'>
                        <img ng-src='{{image}}' />
                    </li>
                </ul>
            </div>
            <button>Add to Cart</button>
        </div>
    </div>
</body>

</html>